<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LightCAD.Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LightCAD.Login.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LightCAD.Login.Properties.Settings>
            <setting name="LastLoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowStartupWindow" serializeAs="String">
                <value>True</value>
            </setting>
        </LightCAD.Login.Properties.Settings>
        <LightCAD.Login.Settings>
            <setting name="LastLoginName" serializeAs="String">
                <value>""</value>
            </setting>
        </LightCAD.Login.Settings>
    </userSettings>
</configuration>