<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LightCAD.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LightCAD.UI.Properties.Settings>
            <setting name="ComTextures" serializeAs="String">
                <value />
            </setting>
            <setting name="PictureFrameName" serializeAs="String">
                <value>A2</value>
            </setting>
            <setting name="Layer_HideTreeView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layer_GridViewColumnsWidth" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Layer_WindowSize" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="cboLibTreeTxt" serializeAs="String">
                <value>所有构件库</value>
            </setting>
            <setting name="cboMajorTxt" serializeAs="String">
                <value>所有专业</value>
            </setting>
            <setting name="tvwNodeName" serializeAs="String">
                <value>自选构件</value>
            </setting>
            <setting name="SearchHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>清空</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LightCAD.UI.Properties.Settings>
    </userSettings>
</configuration>