<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LightCAD.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LightCAD.UI.Properties.Settings>
            <setting name="ComTextures" serializeAs="String">
                <value />
            </setting>
            <setting name="PictureFrameName" serializeAs="String">
                <value>A2</value>
            </setting>
            <setting name="Layer_HideTreeView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Layer_GridViewColumnsWidth" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Layer_WindowSize" serializeAs="String">
                <value>""</value>
            </setting>
        </LightCAD.UI.Properties.Settings>
    </userSettings>
</configuration>